name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        dart-version: ["3.0"]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart-version }}

      - name: Install dependencies
        run: dart pub get
        working-directory: .

      - name: Run static analysis
        run: dart analyze
        working-directory: .

      - name: Run tests
        run: dart test
        working-directory: .
